

/* Responsive Styles */
@media (max-width: 768px) {
       .back-ward {
              text-align: center;
              justify-content: center;
              align-items: center;
              width: 20px;
              font-size: 12px;
             
       }
       .for-ward {
              text-align: center;
              justify-content: center;
              align-items: center;
              width: 20px;
              font-size: 12px;
             
       }
}