

.about-page{
    background: #F7F7F7;
}
.about-hero{
    height: 50vh;
    /*background: url('../../assest/about/Image_20240314155718.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}
/* Create overlay */
.about-hero::before {
    content: ''; /* Required for pseudo-elements */
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity as needed */
}
.about-hero h1{
    margin: 0;
    padding: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
    color: white;
}
.about-hero p{
    padding: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.0) transparent;
    box-shadow: rgba(255, 255, 255, 0.0) 0px 4px 12px;
    color: white;
}

.about-widget{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    padding-block: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    border-radius: 5px;
}
.service-item{
    display: flex;
    text-align: start;
    gap: 15px;
}
.service-text{
    text-align: justify;
}
.service-text p:last-child{
    margin-top: 10px;
    color: rgb(137, 137, 137);
}
.about-intro{
    background: white;
    margin-top: 50px;
    padding: 50px;
}
.about-intro h1{
    margin-bottom: 20px;
}
.about-intro p{
    line-height: 30px;
    max-width: 100%;
}
.itemImg{
    width:456px;
}

@media (max-width:768px) {
    .about-widget{
        margin-top: 0;
        gap: 30px;
    }
    .itemImg{
        width:220px;
    }
    .service-item{
       display: grid;
    }
    .about-hero{
        height: 20vh;
    }
    .about-hero::before {
        height: 20vh;
    }
    .about-hero p{
        margin-left: -100px;
    }
    .about-zion{
        margin-top: 60px;
        font-size: 20px;
    }
    .about-intro{
        margin-top: 5px;
        padding: 2px
    }
    .about-contact{
        flex-direction: column;
    }
    .about-contact > div{
        width: 100%;
    }
    .contact-info{
        background: #F0FAFF;
    }
    .contact-bg::after{
        display: none;
    }
}


/* contact */
.about-contact{
    display: flex;
}
.contact-info{
    flex: 1;
    width: 50%;
    background: white;
    text-align: center;
    padding-block: 20px;
}
.contact-bg{
    width: 50%;
    background: #F0FAFF;
    display: flex;
    align-items: end;
    position: relative;
    overflow: hidden;
}
.contact-bg::after, .contact-bg::before{
    content: "";
    position: absolute;
    top: 0;
    aspect-ratio: 1;
    z-index: 1;
}
.contact-bg::after{
    left: 0;
    width: 50%;
    background: #DCF3FF;
    clip-path: circle(50% at 30% 35%);
}
.contact-bg::before{
    right: 0;
    width: 80%;
    clip-path: circle(50% at 100% 50%);
    background: #dce6ff;
}
.contact-bg img{
    width: 100%;
    z-index: 2;
}
.divider{
    width: 100%;
    height: 1px;
    background: rgb(208, 208, 208);
    margin-block: 20px;
}
.contact-info h2{
    background: #d3d3d3;
    padding-block: 20px;
    margin-block: 20px;
    width: 90%;
}
.contact-info img{
    display: inline-block;
    height: 200px;
}