.image-viewer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 200;
}
.viewer-header{
    position: relative;
    color: white;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 0px 50px;
    display: flex;
    height: 68px;
    justify-content: space-between;
}
.viewer-header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.viewer-header li{
    margin: 0;
    padding: 20px;
    cursor: pointer;
    transition: all 0.4s;
}
.viewer-header li.active{
    border-bottom: 4px solid rgb(201, 24, 201);
}
.close-viewer{
    margin-inline: 0px;
    margin-block: auto;
    cursor: pointer;
    font-size: 40px;
}
.picture-container{
    position: relative;
    width: 90%;
}
.img-number{
    position: absolute;
    top: 50px;
    left:50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-weight: bold;
    z-index: 200;
    user-select: none;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
}
.img-slider-btn{
    position: absolute;
    width: 100%;
    height: calc(100dvh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}
.viewer-btn{
    /* width: 50px; */
    height: 70px;
    color: #000;
    margin: 0;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.viewer-btn:hover{
    background: white;   
}

.img-view-item{
    width: 100%;
    height: calc(100dvh - 80px);
    display: flex;
    align-items: center;
    padding-block: 40px;
}
.img-view-item img{ 
    height: 100%;
    object-fit: contain;
}
@media (max-width:500px) {
    .viewer-header{
        padding-inline: 10px;
        height: 50px;
    }
    .viewer-header li{
        padding: 10px;
        display: flex;
        align-items: center;
    }
    .img-slider-btn{
        width: 100%;
    }
    .viewer-btn{
        width: 50px;
        height: 60px;
        display: grid;
        place-items: center;
        background: rgba(255, 255, 255, 0.6) !important;
    }
    .img-view-item img{ 
        width: 100%;
        object-fit: contain;
    }
    .viewer-header{
        position: relative;
        margin-top: 20%;
        color: white;
        border-bottom: 1px solid rgb(190, 190, 190);
        padding: 0px 50px;
        display: flex;
        height: 68px;
        justify-content: space-between;
    }
    .viewer-header .font-title{
        font-size: 12px;
    }
}

.vdo-container{
    width: 100%;
    height: calc(100% - 70px);
    display: grid;
    place-items: center;
}
.property-vdo{
    height: 80%;
    aspect-ratio: 16 /9;
}
@media (max-width:768px) {
    .property-vdo{
        width: 90%;
        height: auto;
    }
    .img-view-item img{ 
        width: 100%;
        object-fit: contain;
    }
    .viewer-header{
        position: relative;
        margin-top: 20%;
        color: white;
        border-bottom: 1px solid rgb(190, 190, 190);
        padding: 0px 50px;
        display: flex;
        height: 68px;
        justify-content: space-between;
    }
    .viewer-header .font-title{
        font-size: 12px;
    }
}