.jzExRP {
    box-sizing: content-box;
    margin: 5px auto 16px;
    padding-left: 24px;
    padding-right: 24px;
}
.kPxckL {
     display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.iIIgRo {
    flex: 1 1 0%;
}
.iQwzHD {
    color: rgb(42, 42, 51);
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 700;
    line-height: 40px;
    margin: 0px;
}
.dNmOGA {
    padding-left: 16px;
}
.litDtv {
    display: flex;
}
.cOkTHM:not(:disabled) {
    cursor: pointer;
}
.cOkTHM, .cOkTHM:active {
    color: rgb(13, 69, 153);
    text-decoration: none;
}
.cOkTHM {
    color: #582C86;
    text-transform: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    box-shadow: none;
    border: 0px;
    background: none;
    padding: 0px;
    text-align: initial;
    appearance: none;
    border-bottom: 2px solid transparent; /* Initial transparent border */
    transition: border-bottom 0.3s ease; /* Smooth transition effect */
}

.cOkTHM:hover {
    border-bottom: 2px solid #582C86; /* Change border color on hover */
}
.hbyXSX {
    margin-right: 8px;
    
}
.dzJOgx {
    color: #582C86;
    display: inline-block;
    vertical-align: top;
    stroke: currentcolor;
    fill: currentcolor;
    height: 24px;
    width: 24px;
}