

.tab-top{
  position: sticky;
  top: 70px;
  z-index: 1000;          /* Use flexbox layout */
  justify-content: flex-start; /* Aligns items to the left */
  align-items: flex-start;     /* Aligns items to the top */
  background-color: white;
  width: 60%;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
       .image-title, .video-title, .floopan-title span{
             font-size: 14px;
       }
       .tab-top{
              position: sticky;
              top: 70px;
              z-index: 1000;
              background-color: white;
              width: 100%;
            }
       
   }

