.dNUTcE {
    min-height: 500px;
    background-color: rgb(242, 250, 255);
    color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    align-items: flex-start;
    padding-top: 18%;
    padding-left: 24px;
    padding-right: 24px;
}

.dNUTcE> :not(.sc-1mn78nr-0) {
    position: relative;
}

.bUtRth {
    display: block;
}
.bUtRth::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
}

.fiBXdZ.fiBXdZ.fiBXdZ {
    pointer-events: none;
    position: absolute;
    inset: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
}

.grbKwn .Image-c11n-8-99-0__sc-1rtmhsc-0 {
    max-width: 100%;
    height: auto;
}


.imgSell {
    max-width: 100%;
    height: auto;
}



.gpXWHo {
    padding-top: 48px;
}

.jvYpug {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 700;
    font-size: 45px;
    line-height: 72px;
    text-align: start;
    margin-left: 0px;
    margin-bottom: 0px;
}

.gupjAo {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0px 0px 16px;
}

.ilLHVS {
    margin-top: 20px;
}

.hRWLII {
    background-color: rgb(242, 250, 255) transparent;
    width: 1280px;
    min-height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin-bottom: 32px;
    padding: 32px;
}
.titleClass {
    display: none;
    font-size: 24px; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
    color: #333; /* Adjust color as needed */
    text-align: center; /* Adjust alignment as needed */
}

.gKVQdU {
    min-height: auto;
    background-color: rgb(242, 250, 255);
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin-bottom: 48px;
    padding: 48px 32px 32px;
}

.kpTSdk {
    display: grid;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    gap: 16px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
}

.hjrvZo {
    flex-direction: column;
}
/* Example overlay style */


.hwRnCw {
    grid-column-end: span 7;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    padding: 0px;
}

.goCPUH {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 700;
    font-size: 25px;
    line-height: 64px;
    text-align: left;
    margin: 0px 0px 16px;
}

.iRXZKg {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 0px 0px 16px;
}

.dpydPv {
    border: 1px solid rgb(209, 209, 213);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.dpydPv:active,
.dpydPv:hover,
.dpydPv:focus {
    border-color: rgb(0, 106, 255);
}

.iTrMNr {
    position: relative;
}

.kcajQa {
    padding: 0px 0px 0px 5px;
    border-radius: 0px 4px 4px 0px;
}

.cHpRVv input,
.cHpRVv label {
    background-color: rgb(255, 255, 255);
    border: none;
}

.hCiBRT {
    display: flex;
}

.iWYdhM {
    padding-top: 48px;
}

.bYqThu {
    grid-column-end: span 5;
    place-self: end;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    padding: 0px;
}

.jpXeLV {
    margin: 0px;
}

.gKVQdU> :not(.sc-1mn78nr-0) {
    position: relative;
}

.cueAUL {
    display: grid;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    gap: 32px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: start;
    align-self: stretch;
}

.cueAULs {
    display: flex;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    gap: 32px;
    justify-content: flex-end;
    align-items: start;
    align-self: stretch;
}

.cwjnbR {
    grid-column-end: span 4;
    display: flex;
    padding: 0px;
}
.kEEqpb {
    min-height: 300px;
    width: 1280px;
    position: relative;
    margin: 0px auto 48px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 48px 32px 32px;
}


.dHXapk {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin: 0px 0px 16px;
}

.kVbQFS {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: inherit;
    margin: 0px 0px 16px;
}

.caXEbP {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-align: inherit;
    margin: 0px 0px 16px;
}

.grbKwn .Image-c11n-8-99-0__sc-1rtmhsc-0 {
    max-width: 100%;
    height: auto;
}
.circle-check-li {
    list-style-type: none; 
    display: inline-flex;
    align-items:flex-start; 
  }
  .circle-check-li svg {
    margin-right: 10px; /* Adjust spacing between check icon and text */
  }


/* Responsive styles for smaller screens */

.kEEqpb {
    min-height: 300px;
    width: 1280px;
    position: relative;
    margin: 0px auto 48px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 48px 32px 32px;
}
.kEEqpb > :not(.sc-1mn78nr-0) {
    position: relative;
}

.goCPUH {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: left;
    margin: 0px 0px 16px;
}
.gXktJd {
    grid-column-end: span 4;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    padding: 0px;
}
.foHGRe {
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
}
.jAxOVw {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.kdwlNk {
    background-color: #582c86;
    border-color: #582c86;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    user-select: none;
    padding: 15px 16px;
    margin: 0px;
    appearance: none;
    transition-property: background-color, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    pointer-events: auto;
    outline: none;
    box-shadow: none;
    width: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    height: auto;
}
.gqXQmc {
    grid-column-end: span 5;
    place-self: end;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    padding: 0px;
}
.grbKwn .Image-c11n-8-99-0__sc-1rtmhsc-0 {
    max-width: 100%;
    height: auto;
}
.cXHQiH {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin: 0px 0px 16px;
}
.gQolNJ {
    margin: 0px;
    padding: 0px;
    margin-bottom: -16px;
    list-style: none;
    color: rgb(42, 42, 51);
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.hnwVfO {
    position: relative;
}
.daYpon {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 16px;
}

.dsvPAs {
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-align: inherit;
    margin: 24px 0px 16px;
}

   .grid-item {
    height: 100%;
    width: 100%;
    padding: 10px;
    box-shadow: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(242 243 245 / 0.5);
  }

  .grid-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(161, 47, 47);
    border-radius: 10px;
    background-color: rgba(88, 44, 134, 0.1);
  }

  .paragraph {
    font-size: 16px; /* Adjust font size */
    line-height: 1.6; /* Adjust line height */
    margin-bottom: 10px; /* Add spacing between paragraphs */
    color: #333; /* Set text color */
  }






/* Additional responsive styles for even smaller screens if needed */


@media (max-width: 1023px) {
    .dNUTcE {
        max-height: 300px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 48px;
        margin-bottom: 0;
        color: rgb(255, 255, 255);
        background-color: rgb(242, 250, 255);
        min-height: 300px;
    }

    .jvYpug {
        font-weight: 700;
        font-size: 30px;
        line-height: 150%;
        margin-top: -5%;
    }
    .goCPUH {
        text-align: left;
    }
    .goCPUH {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
    }
    .bYqThu {
        align-self: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}
@media (max-width: 768px) {
    .jvYpug {
        font-size: 25px;
        line-height: 150%;
        margin-top: 5%;
    }
    .hRWLII {
        padding: 0px;
    }
    .titleClass {
        display: block;
        font-size: 25px; /* Adjust as needed */
        margin: 25px; /* Adjust spacing as needed */
    }

    .gKVQdU {
        width: 100%;
        padding: 24px;
    }

    .cueAUL {
        display: contents;
    }

    .cueAULs {
        display: contents;
    }

    .goCPUH {
        font-size: 18px;
        line-height: 150%;
        padding: 0;
    }
    .home-banner{
        display:inline-block;
        padding: 0;
    }
    .home-banner img{
        width: 100%;
    }
    .banner-text{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .banner-text h1{
        font-size: 20px;
    }
    .banner-text p{
      font-size: 16px;
    }
    .btn-knowledge{
        margin-top: -90px;
    }
    .grbKwn{
        margin-bottom: -60px;
    }
   
}
@media (max-width: 480px) {
    .gKVQdU {
        padding: 16px;
    }
    .jvYpug {
        font-size: 18px;
        line-height: 150%;
        margin-top: 30px;
    }
    .jvYpug {
        font-size: 25px;
        line-height: 150%;
        margin-top: 5%;
    }
    .hRWLII {
        padding: 0px;
    }
    .titleClass {
        display: block;
        font-size: 25px; /* Adjust as needed */
        margin: 25px; /* Adjust spacing as needed */
    }

    .gKVQdU {
        width: 100%;
        padding: 24px;
    }

    .cueAUL {
        display: contents;
    }

    .cueAULs {
        display: contents;
    }

    .goCPUH {
        font-size: 18px;
        line-height: 150%;
        padding: 0;
    }
    .home-banner{
        display:inline-block;
        padding: 0;
    }
    .home-banner img{
        width: 100%;
    }
    .banner-text{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .banner-text h1{
        font-size: 18px;
    }
    .banner-text p{
      font-size: 14px;
    }
    .btn-knowledge{
        margin-top: -110px;
    }
    .grbKwn{
        margin-bottom: -60px;
    }
}