.sign-tabs{
    list-style: none;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.sign-tabs li{
    position: relative;
    padding:0 10px 15px ;
    flex: 1;
    text-align: center;
    margin: 0;
    cursor: pointer;
}
.sign-tabs li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    border-bottom: 3px solid purple;
    transition: all 0.3s ease;
    opacity: 0;
}
.sign-tabs li.active::after{
    opacity: 1;
}
.sign-wrapper{
    display: grid;
    grid-template-rows:1fr;
    overflow: hidden;
    transition: all 200ms;
    margin-block: 20px;
}


.sign-wrapper.hide{
    grid-template-rows:0fr;
    margin-block: 0;
}
.sign-wrapper-phone.hide{
    grid-template-rows:0fr;
    margin-block: 0;
}

.input-box{
    min-height: 0;
    width: 100%;
    margin-block: 20px;
}
.phone-input{
    min-height: 0;
    width: 100%;
}
.input-box input, select, PhoneInput{
    margin-top: 10px;
    border: 1px solid #b7b7b7b9;
    outline: none;
    border-radius: 10px;
    appearance: none;
    width: 100%;
    padding: 15px 10px;
    background: #F6F6FA;
}
.input-box input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #582C86;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.input-box input:hover{
    border: 1px solid #582C86;
}
.input-box ul{
    list-style: none;
    color: gray;
    margin:10px 0 0 20px;
}
.sign-btn{
    color: #fff;
    background-color: #582C86;
    border:none;
    outline: none;
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding: 13px 20px;
    border-radius: 8px;
}
.sign-btn:hover{
    background-color: #7236b2;
}
.forget-pw{
    display: grid;
    place-items: center;
    color: #0b77e3;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}
.forget-pw:hover{
    color: #1c446c;
}
.google-sign-box{
  
    align-items: center;
    margin-top: 20px;
}
.err-mass {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the start (left) */
    margin-bottom: 20px;
    
}
.font-small li{
    margin-left:-16px;
}

@media (max-width:768px) {
    .google-sign-box{
        align-items: center;
        margin-top: 20px;
    }

}







