.vr-property{
       margin-bottom: 50px;
       height: 70vh;
}
.btn-property{
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       padding-bottom: 15px;
}
.btn-property button{
       padding:15px;
       background-color: rebeccapurple;
}


@media (max-width:768px) {
       .vr-property{
              margin-bottom: 80px;
              height: 50vh;
       }  
}