.subtitle{
       padding-top: 10px;
       align-items: center;
       text-align: center;
}
.subtitle h1{
  font-size: 20px;
}
.subtitle p {
 font-size: 16px;
}


@media (max-width:768px) {
       .subtitle{
         margin-top: 60px;
        
         text-align:center;
         padding:20px 0px 10px 10px;
       }
       .subtitle h1{
              font-size:18px
       }
       .subtitle p{
       font-size:14px
       }
      
     }
   @media (max-width:500px) {
     
   }