.city-card{
    position: relative;
    color: white;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.city-card::after{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #00000060;
    z-index: 2;
    transition: 0.3s all linear;
}
.city-card:hover::after{
    background: transparent;
}
.city-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.city-text{
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 3;
    text-align: start;
    color: rgb(227, 226, 226);
}
.city-text .city-title{
    margin-top: 10px;
    color: white;
}