
 
   .card-container {
       display: flex;
       justify-content: center;
       align-items: center;
      
       /* background: linear-gradient(to right, #582C86, #7236b2); */
       
   }
   
   .card-condo {
       cursor: pointer;
       text-align: center;
       background-color: #fff;
       box-shadow: 2px 2px 2px 3px #7236b2;
       padding: 25px 0px 0px 0px;
       width: 100%;
       height: 400px;
       border-radius: 15px;
       margin: 10px;
       transition: 0.3s;
       
   }
   .card-condo img{
   border-radius: 10px;
   }
   
   .card-condo h3 {
       font-size: 1em;
       font-family: 'Poppins', sans-serif;
       font-weight: 700;
       color: #555;
   }
   .card-condo:hover h3 {
       color: #fff;
   }
   
   .card-condo p {
       padding: 20px;
       font-size: 0.80em;
       font-family: 'Poppins', sans-serif;
       font-weight: 400;
   }
   .card-condo:hover p {
       color: #fff;
   }
   .card-condo:hover button {
       color: #000;
       background-color: #fff;
   }
   
   button {
       cursor: pointer;
       margin-top: 20px;
       padding: 10px 30px;
       border: none;
       background-color: #582C86;
       border-radius: 8px;
       color: #fff;
       transition: 0.5s;
   }
   .card-condo:hover{
       /* background-color: #7236b2; */
       background: linear-gradient(to right, #804ab9, #733cae, #7236b2, #582C86 );
   }

   @media  (max-width:768px) {

       .card-container {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              padding: 20px;
              align-items: center;
              margin-top: -50px;
              
          }
       .card-condo {
              cursor: pointer;
              text-align: center;
              background-color: #fff;
              box-shadow: 2px 2px 2px 3px #7236b2;
              /* box-shadow: inset 3em 1em 2em #7236b2; */
              padding: 30px;
              width: 350px;
              height: 380px;
              border-radius: 15px;
              margin: 10px;
              transition: 0.3s;
          }

   }