
  
  .chat-box-header {
    padding: 3px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-box-footer {
    background-color: #582C86; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px; /* Padding around the text */
    cursor: pointer; /* Change cursor to pointer on hover */
    text-align: center; /* Center the text */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  .chat-box-footer:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }