.btn-to-contact{
  position: fixed;
  bottom: 200px;
  right: 4%;
  z-index: 100;
  color: white;
}
.contact-icon {
  font-size: 30px;
  border-radius: 50%;
  /*background: linear-gradient(135deg, #00ff1e, #00b32b);  Gradient background */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 10s linear infinite;
  animation-delay: 1.5s;
  border: 2px solid #fff; /* White border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.contact-icon:hover {
  transform: scale(1.3); /* Scale up on hover */
}
.contact-icon-text {
  position: absolute;
  top: -25px;
  right: 25px;
  color: #582C86;
  background-color: #FFF; /* Adding white background color */
  border-radius: 3px;
  animation: rotate 10s ease infinite;
  animation-delay: 1.9s;
  font-weight: bold;
}
.arrow-icon{
  position: absolute;
  top: -10px;
  left: -50px;
  font-size: 50px;
  color: #FFF;
  transform: rotate(200deg);
  animation: pop 10s ease-in-out infinite;
  opacity: 0;
  transform: scale(0);
}
.product-interest{
  padding-block: 30px;
}
.product-contact{
  background: rgba(239, 238, 238, 0.7);
  border-radius: 100px;
  display: grid;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  line-height: 30px;
}
.product-contact h2{
  text-transform: capitalize;
  margin-bottom: 10px;
}
.product-contact .highlighter{
  background: rgb(217, 255, 161);
  padding-inline: 10px;
}

@keyframes bounce {
  8%{
      transform: translateY(0);
  }
  10%{
      transform: translateY(-30px);
  }
  15%{
      transform: translateY(0);
  }
}

@keyframes rotate {
  5%{
      transform: translateX(0) translateY(0) rotate(0deg);
  }
  6%{
      transform: translateY(-10px);
  }
  10%{
      transform: translateX(-50px) rotate(-360deg);
  }
  60%{
      transform: translateX(-20px) rotate(-360deg);
  }
  70%{
      transform: translateX(0px) rotate(-360deg);
  }
  100%{
      transform: translateX(0px) rotate(-360deg);
  }
}

@keyframes pop {
  30%{
      opacity: 0;
      transform: scale(0);
  }
  35%{
      opacity: 1;
      transform: scale(1) rotate(200deg);
  }
  75%{
      opacity: 1;
      transform: scale(1) rotate(200deg);
  }
  80%{
      opacity: 0;
      transform: scale(0);
  }
}

@media (max-width:768px) {
  .contact-icon{
      font-size: 23px;
  }
  .arrow-icon{
      font-size: 45px;
  }
  .product-contact{
      border-radius: 20px;
  }
}
@media (min-width:2000px) {
  .product-contact p{
      line-height: 50px;
  }
}