.property-img-gallery{
    padding-block: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    position: relative;
    overflow: hidden;
}
.property-img-gallery img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    vertical-align: top;
}
.property-img-gallery .img-item:first-child{
   grid-column: span 2;
   grid-row: span 2;
   padding-right: 0px;
}
.btn-all-photo, .btn-vdo{
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: #582c86;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-vdo{
  
    bottom: 130px;
    background-color: #582c86;
    font-size: 20px;
    color: #fff;
}

.btn-all-photo, .btn-3d{
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: #582c86;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-3d{
    bottom: 80px;
    background-color: #582c86;
    font-size: 20px;
    color: #fff;
}


.btn-all-photo:hover, .btn-vdo:hover{
    background: #7236b2;
}
.btn-all-photo:hover, .btn-3d:hover{
    background: #7236b2;
}
.property-info{
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    gap: 40px;
    position: relative;
}
.bold-text{
    font-weight: bold;
}
@media (max-width:768px) {
    .property-img-gallery .img-item:first-child{
        display: none;
        padding-right: 0px;
    }
    .property-img-gallery{
        grid-template-columns: repeat(4, 1fr);
    }
    .font-title span{
        font-size: 10px;
    }
  
}

@media (max-width:500px) {
    .property-info{
        padding-top: 0;
    }
    .property-img-gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    

}


/* contact */
.property-contact-box{
    padding: 10px;
    width: 30%;
    max-width: 300px;
    height: 100%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    background: white;
    position: sticky;
    top:120px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn-request, .btn-contact{
    background: rgb(0, 106, 255);
    color: white;
    text-align: center;
    border: 0;
    outline: 0;
    padding-block: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    margin-block: auto;
    flex: 1;
    text-transform: 'none';
}
.btn-request{
    width: 100%;
}
.contact-container{
    flex:1;
}
.btn-contact{
    margin: 0;
    width: 100%;
    display: block;
    text-decoration: none;
    color: rgb(0, 106, 255);
    background: white;
    border: 1px solid rgb(0, 106, 255);
}
.btn-request:hover{
    background: #1755b1;
}
.btn-contact:hover{
    background: #eeeeee;
}
.contact-container{
    margin: 0;
}
.contact-container p{
    margin-top: 15px;
    text-align: center;
}

.font-title span{
    font-size: 16px;
}

@media (max-width:768px) {
    .property-contact-box{
        position: fixed;  
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: none;
        height: auto;
        flex-direction: row;
        border-radius: 5px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        z-index: 100;
        justify-content: space-between;
    }
    .dddddd {
        display: none;
    }
    .btn-request{
        max-width: 30%;
        height: auto;
        padding-inline:10px;
    }
    .btn-contact{
        max-width: 130px;
        height: auto;
        flex: 1;
        padding-inline:10px;
    }
    .contact-container{
        display: flex;
        justify-content: end;
        gap: 10px;
    }
    .contact-container p{
        margin-inline: 0;
        margin-top: 12px;
    }
    .contact-container p:last-child{
        display: none;
    }
    .property-profile-status{
        position: absolute;
        top: 0;
        right: 0;
        padding-inline: 10px;
        cursor: pointer;
        font-size: 40px;
        margin-top: 50px;
    }
    
}


/* profile */
.property-profile{
    flex: 1;
    text-align: start;
    position: relative;
}
/* fav icon */
.property-profile-status{
    position: absolute;
    top: 0;
    right: 0;
    padding-inline: 10px;
    cursor: pointer;
    font-size: 40px;
}

/* Default styles */
.property-profile-header {
    position: relative; /* Add position relative for absolute positioning */
    padding: 20px; /* Add padding for spacing */
}

.property-profile-header h1 {
    margin-bottom: 10px; /* Add margin-bottom for spacing */
    font-size: 24px; /* Adjust font size */
}

.property-profile-header p {
    margin-top: 10px;
    line-height: 1.5; /* Adjust line height for readability */
    color: gray;
}

.property-profile-id {
    position: absolute;
    top: 24px;
    right: 0;
    color: black !important;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .property-profile-header h1 {
        font-size: 20px; /* Decrease font size */
    }

    .property-profile-header p {
        line-height: 1.4; /* Adjust line height */
    }

    .property-profile-id {
        position: relative; /* Change position to relative */
        top: 0;
        right: 0;
        margin-top: 20px; /* Add margin-top for spacing */
        color: black !important;
    }
    .font-title span{
        font-size: 14px;
    }
}



/* profile-info-feature */
.property-info-feature{
    display: flex; 
    margin-top: 16px;
    padding-block: 20px;
    border-top: 1px solid rgb(215, 215, 215);  
    border-bottom: 1px solid rgb(215, 215, 215);  
}
.property-info-feature span{
    width: 100%;
    line-height: 20px;
    padding-inline: 5px;
    text-align: center;
    border-right: 1px solid rgb(196, 196, 196);
}
.property-info-feature br{
    display: none;
}
.property-info-feature span:last-child{
    border-right: none;
}
@media (max-width:425px) {
    .property-info-feature{
        padding-block: 15px;
    }
    .property-info-feature br{
        display: block;
    }
}



/* profile highlight */
.property-highlight-container{
    padding-block: 25px;
    border-bottom: 1px solid rgb(215, 215, 215);
}
.property-highlight-title{
    margin-bottom: 20px;
}
.property-highlights{
    list-style: none;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.property-highlights li{
    width: 100%;
    background: rgb(244, 244, 244);
    padding: 20px;
    user-select: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:425px) {
    .property-highlights{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .property-highlights li{
        padding: 10px;
    }
}



/* about */
.property-about h2{
    margin-block: 20px;
}
.property-about .detail{
    text-align: justify;
    line-height: 25px;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.property-date{
    margin-top: 10px;
}
.detail-btn{
    color: rgb(0, 81, 255);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}
.detail-btn svg{
    margin: 0;
}
@media (max-width:425px) {
    .property-about .detail{
        line-height: 20px;
    }
}



/* location map */
.property-map h2{
    margin: 40px 0 20px;
}
.location-map{
    width: 100%;
    aspect-ratio: 2.2;
    border: 1px solid rgb(226, 226, 226);
}   



/* features */
.property-features{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(215, 215, 215);
}
.property-features h2{
    margin: 40px 0 20px;
}
.feature-item-box{
    padding-bottom: 20px;
}
.property-feature-title{
    background: rgb(236, 236, 236);
    padding: 5px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}
.floor-map img{
    max-width: 100%;
    max-height:600px;
    cursor: pointer;
}
.property-interiors,
.property-surrounding{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding-inline:20px; */
    gap: 20px;
}
.feature-items-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}
.feature-item{
    margin:0;
    color: rgb(88, 88, 88);
    line-height: 25px;
}
.feature-item .title{
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}
.feature-item li{
    margin-left: 25px;
    list-style-type:"  -  ";
}
.feature-item .desc{
    display: flex;
    gap: 10px;
    align-items: center;
}

.feature-item.surrounding{
    padding:5px 20px ;
    border: 1px solid gray;
    border-radius: 10px;
}
.feature-item .desc svg{
    margin: 0;
}
@media (max-width:768px) {
    .property-surrounding{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
@media (max-width:550px) {
    .property-interiors{
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        padding-inline: 5px;
    }
}


/* similar */
.property-similar{
    padding-top: 30px;
}
.property-similar h2{
    margin-bottom: 20px;
}
.property-similiar-items{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}