/* filter search */
.filter-section{
   /* position: sticky;*/
    top: 70px;
    background: white;
    border-bottom: 1px solid rgb(208, 208, 208);
    z-index: 100;
}
.filter-box{
    padding-block:15px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
/* every dd-selected */
.filter-box > div{
    margin: 0;
}
.filter-box > div:hover{
    background: #f2f2f2b9;
}
/* search bar */
.search-bar-filter{
    --borderRadius:5px;
    position: relative;
    display: flex;
    width: 330px;
    margin: 0;
}
/* status dropdown in search bar */
.type-filter{
   width: 30%;
}
.type-filter .dd-selected{
    background: #ddd;
    border-radius: 0px;
    border-top-left-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
}
.type-search{
    position: relative;
    width: 70%;
}
.search-icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: gray;
    font-size: 20px;
}
.search-bar-filter input{
    border: 1px solid #b7b7b7b9;
    outline: none;
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    padding-right: var(--borderRadius);
    padding-left: 35px;
    height: 100%;
    width: 100%;
}
/* property type dropdown */
.property-filter{
    width: 250px;
}
/* filter modal toggle-btn */
.filter-modal-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    width: auto;
    padding-inline: 10px;
}
.filter-modal-btn:first-child svg{
    transform: rotate(90deg);
    font-size: 20px;
}
.filter-modal-btn.dd-selected::after{
    display: none;
}
.dd-selectede{
    position: relative;
    width: 165px;
    outline: none;
    background-color: transparent;
    border: 1px solid #b7b7b7b9;
    border-radius: 5px;
    padding: 0 30px 0 15px;
    height: 45px;
    cursor: pointer;
    color: #707070;
}
.dd-show-color{
    color: #000;
}
.dd-selectede::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #aeaeae;
    transition: transform 0.2s;
}
.dd-selectede.active::after{
    transform: translateY(-50%) rotate(180deg);
}
@media (max-width:768px) {
    .filter-section{
       top: 60px; 
    }
    .type-search{
        width: 100%;
    }
    .search-bar-filter{
        width: 100%;
    }

    .property-filter{
        width: 44%;
    }
    .dd-selectede{
        width: 100%;
    }
    .dd-selected{
        width: 100%;
    }
    .filter-box{
        gap: 8px
    }
}
@media (max-width:425px) {
    
    .price-filter, .property-filter{
        display: none;
    }
}


/* content */
.breadcumbs{
    text-align: start;
    margin: 30px 0 10px;
    user-select: none;
}
.explore-header{
    text-align: start;
    padding-bottom: 40px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.explore-header > div{
    margin: 0;
}
.explore-text span{
    margin-left: 10px;
}
.explore-sort{
    width: 140px;
}
.search-btn{
    flex-basis: 15%;
    background: #000;
    color: white;
    cursor: pointer;
    outline: none;
    border: 1.5px solid #582C86;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
}
.search-btn:hover{
    background: #000000c9;
}
.search-btn.cancel{
    background: #582C86;
    color: white;
    margin-left: 30px;
}
.search-filter{
    flex-basis: 15%;
    background-color: transparent;
    color:  #582C86;
    cursor: pointer;
    outline: none;
    border: 1.5px solid #582C86;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
}
.search-filter.filter{
    /*background: #582C86;*/
    margin-left: 30px;
}
.search-btn.cancel:hover{
    background: rgb(119, 33, 33);
}

.search-btn.reset{
    background: rgb(119, 33, 33);
    color: white;
    margin-left: 30px;
}
.search-btn.reset:hover{
    background: rgb(191, 39, 39);
}
.img-empty {
    width: 30%;
}
.bttshow{
    display: none;
}
.shaas{
    display: flex;
}
.btres{
    width: 30%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    flex-basis: 40%;
}
.btres.reset{
    background: rgb(119, 33, 33);
    color: white;
}
.btres.cancel{
    background: #582C86;
    color: white;
}
.btres.cancel:hover{
    background: rgb(119, 33, 33);
}
.btres.reset:hover{
    background: rgb(191, 39, 39);
}
@media (max-width:750px) {
    .explore-text span{
        display: none;
        margin: 0;
    }
    .img-empty{
        width: 70%;
    }
    .bttos{
        display: none;
    }
    .bttshow{
        display: block;
    }
    .explore-sort{
        width: 30%;
    }
}



.property-card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
}
@media (max-width:500px) {
    .property-card-wrapper{
        grid-template-columns: 1fr;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
  }
