.filter-toolbox h3{
    margin-bottom: 15px;
}
.filter-item{
    padding-top: 25px;
}
.filter-type, .filter-others, .filter-info-container{
    padding-bottom: 25px;
    border-bottom: 1px solid #dedddd;
}


/* filter status */
.filter-status-list{
    list-style: none;
    display: flex;
    margin-bottom: 25px;
    background: #efefef;
    overflow: hidden;
    border-radius: 5px;
    padding: 5px 3px;
}
.filter-status-list li{
    padding-block: 8px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transform: all 0.4s ease;
}
.filter-status-list li.active{
    background: #582C86;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: white;
}


/* property type */
.filter-type .filter-item{
    padding-top: 0;
}
.checkbox-tile-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.checkbox-label{
    width: 100%;
}
.checkbox-label input[type="checkbox"]{
    display: none;
}
.checkbox-label input[type="checkbox"]:checked + .checkbox-text {
    color: white;
    background: #582C86;
}
.checkbox-text{
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    padding: 15px 0;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
    display: grid;
    place-items: center;
    text-align: center;
    cursor: pointer;
}
@media (max-width:768px) {
    .checkbox-tile-container{
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        gap: 10px;
    }
}


/* filter others (land & industry) */
.filter-others{
    display: flex;
    position: relative;
    overflow: hidden;
}
.filter-others h3{
    text-wrap: nowrap;
}
.filter-item.land, .filter-item.industry{
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.filter-item.land.show, .filter-item.industry.show{
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.filter-item.hide {
    padding-top: 5px;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.filter-divider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 100%;
    background: rgb(201, 201, 201);
    display: none;
}
.filter-divider.show{
    display: block;
}


/* filter info  (property info)*/
.filter-info-container{
    display: flex;
    gap: 30px;
}
.filter-info-container h3{
    margin-bottom: 10px;
}
.filter-info-box{
    flex: 1;
    margin: 0;
}
/* number */
.number-container{
    display: flex;
    gap: 10px;
}
.number-container input{
    width: 100%;
    font-weight: 600;
    margin-top: 0;
}
/* bed */
.interior-list{
    list-style: none;
    display: flex;
    gap: 10px;
}
.interior-list li{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
    flex:1;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease;
}
.interior-list li.active{
    background: #582C86;
    color: white;
}
@media (max-width:768px) {
    .filter-info-container{
        flex-direction: column;
        gap: 10px;
    }
}


/* filter features */
.filter-feature-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.filter-feature-item{
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.filter-feature-item > *{
    margin:0 5px 0;
}
.filter-feature-item input[type="checkbox"]{
    display: none;
}
.checkbox-bin{
    width: 20px;
    aspect-ratio: 1;
    border-radius: 5px;
    border: 1px solid #979595;
    position: relative;
    transition: all 0.2s linear;
}
.filter-feature-item:hover .checkbox-bin{
    border-color: rgb(0, 149, 255);
}
.checkbox-bin::before{
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: rgb(0, 149, 255);
    opacity: 0;
    transition: all 0.2s linear;
}
.filter-feature-item input[type="checkbox"]:checked + .checkbox-bin{
    border-color: rgb(0, 149, 255);
}
.filter-feature-item input[type="checkbox"]:checked + .checkbox-bin::before{
    opacity: 1;
}
@media (max-width:380px) {
    .filter-feature-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}
