
.accodion-body{
       /* background-color: #eee; */
       padding-bottom: 20px;
}
.accodion-body h2{
       padding-top: 70px;
       padding-bottom: 20px;

}

.accodion-content{
       background-color: #eee;
       padding: 40px;
       display: flex;
       padding-top: 20px;
       padding-bottom: 20px;
       gap: 20px;
}
.content-info{
       width: 100%;
}
.accordion{
       padding: 15px 3px 15px 3px;
       margin-bottom: 10px;
       text-align: start;
       font-size: 18px;
       
}


@media (max-width:768px) {
       .accodion-content{
              display: inline-block;
              padding: 5px;
              padding-top: 20px;
              padding-bottom: 20px;
              gap: 20px;
       }  
       .accodion-body h2{
              background-color: #eee;
              padding-top: 20px;
              padding-bottom: 0px;
       }
       .accordion{
              padding: 15px 3px 15px 3px;
              margin-bottom: 10px;
              text-align: start;
              font-size: 15px;
       }
}