.map-location{
    margin-bottom: 20px;
}
.interactive-map{
    position: relative;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    background: rgb(198, 174, 238);
    overflow: hidden;
}
.interactive-map h2{
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    text-transform: uppercase;
}
.map-container{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.3s linear;
    overflow: hidden;
    display: flex;
    align-items: end;
}
.map-container.zoom-in{
    transform: scale(1.5);
    filter: blur(10px);
    opacity: 0;
    visibility: hidden;
}
.map-container.zoom-out{
    transform: scale(0.1);
    filter: blur(10px);
    opacity: 0;
    visibility: hidden;
}
.province-map{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.county-map{
    height: 95%;
    width: 100%;
    cursor: pointer;
}
.province.active, .county.active{
    fill: rgb(190, 221, 222);
}
.province, .county{
    stroke: #000;
    fill: #FEFEE9;
    stroke-width: 1.8px;
    stroke-linecap:round;
    stroke-linejoin:round;
    cursor: pointer;
    transition: all 0.3s;
}
.province:hover, .county:hover{
    fill: rgb(108, 220, 179);
}
.province{
    stroke-width:0.8;
}
.county-name{
    font-size: 35px;
    font-family:'MyriadPro-Regular', "Noto Sans Lao";
}
.county-indicator{
    fill:none;
    stroke:#000000;
    stroke-miterlimit:10;
}
.btn_provinceMap{
    position: absolute;
    top: 5%;
    left: 3%;
    color: white;
    cursor: pointer;
    padding:5px 10px;
    display: grid;
    place-items: center;
}
.btn_provinceMap:hover{
    background: rgba(255, 255, 255, 0.118);
}